　ul {
  text-align: right;
}

li {
  display: inline;
  padding: 0 10px;
}

body {
  width: 100%;
  height:100vh;
  background-image: url('/image/alison-marras-ElGnfom4tIw-unsplash.jpg');  
  background-position: center center; 
  background-repeat: no-repeat;  
  background-attachment: fixed; 
  background-size: cover;
}

.box{
  position: relative;
}

.box h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.bold {
  font-size: 15px;
  font-weight: bold;
  margin-left: 10%;
}

.btn-warning {
  font-size: large;
  margin-left: 35%;
}

#vegetable-image {
  margin-bottom: 30px;
  width: 1000px;
  height: 450px;
  display: block;
  margin:auto;
}

#vegetable-image img {
  width: 100%;
  height: 100%;
}

h1 {
  font-family: monospace;
}

.card-contents {
  padding: 70px 50px 50px 70px;
  display: block;
  width: 1000px;
  background-color: #fff;
  margin: 70px auto 100px auto;
}

.text {
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
}

.w-50 {
  width: 50%;
  margin-left: auto;
  margin-bottom: 150px;
}

.bl {
  border-left: 15px solid #e8dd15;
  padding-left: 10px;
}

label {
  font-size: medium;
  font-family: fantasy;
  font-weight: bold;
}

.r-contents {
  display: flex;
  width: 1000px;
  margin: 0 auto 30px;
  flex-wrap: wrap;
  justify-content: space-between;
  .r-cont {
    width: 32%;
    margin-bottom: 30px;
    border-radius: 5px;
    overflow: hidden;
    
    .r-img {
      position: relative;
      overflow: hidden;
      padding-top: 75%;
      object-fit: cover;
      img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
      }
    }
    .r-body {
      padding: 5px;
      background: #fff;
    }
  }
}


.time {
  margin-top: 50px;
}

.user {
  margin-left: auto;
}

footer {
  text-align: center;
  padding: 40px;
  background-color: #353246;
  color: #f1e9e9;
}

.archive {
  margin-right: 10px;
}

.google {
  margin-left: 10px;
}

.form-group {
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
}






