@charset "UTF-8";
　ul {
  text-align: right;
}

li {
  display: inline;
  padding: 0 10px;
}

body {
  width: 100%;
  height: 100vh;
  background-image: url("/image/alison-marras-ElGnfom4tIw-unsplash.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.box {
  position: relative;
}

.box h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bold {
  font-size: 15px;
  font-weight: bold;
  margin-left: 10%;
}

.btn-warning {
  margin-left: 35%;
}

#vegetable-image {
  margin-bottom: 30px;
  width: 1000px;
  height: 450px;
  display: block;
  margin: auto;
}

#vegetable-image img {
  width: 100%;
  height: 100%;
}

.card-contents {
  padding: 70px 50px 50px 70px;
  display: block;
  width: 1000px;
  background-color: #fff;
  margin: 70px auto 100px auto;
}

.text {
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
}

.w-50 {
  width: 50%;
  margin-left: auto;
  margin-bottom: 150px;
}

.bl {
  border-left: 15px solid #e8dd15;
  padding-left: 10px;
}

.card {
  margin-left: 50px;
  margin-right: 50px;
}

.time {
  margin-top: 50px;
}

.user {
  margin-left: auto;
}

footer {
  text-align: center;
  padding: 40px;
  background-color: #353246;
  color: #f1e9e9;
}

.archive {
  margin-right: 10px;
}

.google {
  margin-left: 10px;
}

.form-group {
  margin-bottom: 1rem;
}
