ul {
  text-align: right;
}

li {
  display: inline;
  padding: 0 10px;
}

footer {
  text-align: center;
  padding: 30px;
  background-color: #353246;
  color: #f1e9e9;
}

.archive {
  margin-right: 10px;
}

.google {
  margin-left: 10px;
}

.Copyright {
  text-align: left;
}

small {
  margin-left: 700px;
  bottom: 0;
}
